{
  "presets": [
    ["@babel/preset-env", {
      "exclude": ["transform-async-to-generator", "transform-regenerator"],
      "loose": true,
      "modules": false,
      "targets": { "node": 6 }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "lodash",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["module:fast-async", { "spec": true }],
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      }
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "exclude": ["transform-async-to-generator", "transform-regenerator"],
          "loose": true,
          "targets": { "node": "current" }
        }],
        "@babel/preset-react"
      ]
    }
  }
}
