{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es2020": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "node": true,
      "jest": true,
      "modules": true
    }
  },
  "plugins": [
    "jest",
    "jest-dom",
    "react",
    "react-hooks",
    "testing-library"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:jest-dom/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:testing-library/react"
  ],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "version": "detect"
    }
  },
  "rules": {
    "no-debugger": "off",
    "no-console": "off",
    "no-unused-vars": "warn",
    "react/prop-types": "warn"
  }
}
