arrowParens: "avoid"
printWidth: 120
semi: true
singleQuote: true
tabWidth: 4
trailingComma: "all"
overrides:
  - files: "*{.json,.css,.scss}"
    options:
      tabWidth: 2
  - files: "*.md"
    options:
      proseWrap: always
