body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 1.6em;
  letter-spacing: 0.5px;
}

.page-wrapper {
  overflow: hidden;
  width: 100%;
}

._100-vh-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.upgrade-button {
  padding: 15px 22px;
  border-radius: 5px;
  background-color: #254054;
  box-shadow: 0 20px 30px -10px rgba(24, 16, 99, .36);
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease;
  color: #fff;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.upgrade-button:hover {
  background-color: #000;
  box-shadow: 0 10px 20px -5px rgba(24, 16, 99, .36);
}

.upgrade-button.full-upgrade-button {
  display: block;
}

.upgrade-button.full-upgrade-button.primary-upgrade-button {
  background-color: #28d893;
  box-shadow: 0 20px 30px -10px rgba(24, 16, 99, .18);
}

.upgrade-button.full-upgrade-button.primary-upgrade-button:hover {
  background-color: #1cb176;
  box-shadow: 0 10px 10px -5px rgba(24, 16, 99, .18);
}

.field-group-wrapper {
  position: relative;
  display: block;
  clear: both;
}

.field-group-wrapper:hover {
  overflow: visible;
}

.plus-icon {
  position: relative;
  top: -1px;
  display: inline-block;
  margin-right: 8px;
  font-size: 12px;
}

.hide-me-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 8888;
  display: block;
  overflow: auto;
  background-color: rgba(0, 0, 0, .75);
}

.close-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9;
  opacity: 0.25;
  cursor: pointer;
}

.upgrade-container {
  position: relative;
  z-index: 10;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  min-height: 400px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding: 60px 50px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 300;
  text-align: center;
}

.simple-field-label {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 1px;
  padding-right: 8px;
  float: none;
  clear: both;
  color: #000;
  font-size: 14.5px;
  line-height: 22px;
  font-weight: 800;
}

.simple-field-description {
  position: relative;
  z-index: 2;
  opacity: 0.6;
  font-size: 12px;
  line-height: 17px;
}

.text-field-wrapper {
  position: relative;
  margin-top: 7px;
}

.website-type-radio-field {
  width: 49%;
  margin-bottom: 2%;
  padding-bottom: 0px;
  padding-left: 0px;
}

.hide {
  display: none;
  margin-left: 16px;
}

.simple-text-field {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 6px;
  border-color: #cbcbcb;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0 1px 3px 0 #cbcbcb;
  -webkit-transition: background-color 200ms ease, box-shadow 200ms ease, border-color 200ms ease;
  transition: background-color 200ms ease, box-shadow 200ms ease, border-color 200ms ease;
}

.simple-text-field:hover {
  border-color: #5dbdff;
  box-shadow: none;
}

.simple-text-field:focus {
  border-color: #2aa8ff;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #2aa8ff, 0 10px 10px -5px rgba(45, 62, 80, .12);
}

.simple-text-field::-webkit-input-placeholder {
  color: rgba(57, 57, 57, .5);
}

.simple-text-field:-ms-input-placeholder {
  color: rgba(57, 57, 57, .5);
}

.simple-text-field::-ms-input-placeholder {
  color: rgba(57, 57, 57, .5);
}

.simple-text-field::placeholder {
  color: rgba(57, 57, 57, .5);
}

.simple-text-field.big-50-field {
  height: 50px;
}

.inline-block {
  display: inline-block;
}

.button {
  padding: 12px 25px 6px;
  border-radius: 5px;
  background-color: #2aa8ff;
  box-shadow: 0 10px 10px -5px rgba(45, 62, 80, .12);
  -webkit-transition: background-color 200ms ease, box-shadow 200ms ease, color 200ms ease, border-color 200ms ease;
  transition: background-color 200ms ease, box-shadow 200ms ease, color 200ms ease, border-color 200ms ease;
  color: #fff;
  line-height: 2em;
  font-weight: 800;
  text-align: center;
}

.button:hover {
  background-color: #007ace;
}

.button.full-button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.site-type-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 500px;
  margin-top: 15px;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.overlay-header {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 80px;
  padding-top: 34px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  font-size: 17px;
  font-weight: 900;
  text-align: center;
}

.dash-new-button {
  position: relative;
  z-index: 1;
  height: 50px;
  margin-left: auto;
  padding: 17px 15px 11px;
  float: right;
  border-radius: 4px;
  background-color: #2aa8ff;
  box-shadow: 0 10px 10px -3px rgba(45, 62, 80, .12);
  color: #fff;
  font-weight: 900;
}

.dash-new-button:hover {
  background-color: #007ace;
}

.website-type-radio-button {
  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  margin-bottom: 0px;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  background-color: #fff;
  background-image: url('../images/55821667792714e458bb6c60_logo-png.png');
  background-position: 50% 50%;
  background-size: 100px;
  background-repeat: no-repeat;
  box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: box-shadow 200ms ease, border-color 200ms ease, -webkit-filter 200ms ease;
  transition: box-shadow 200ms ease, border-color 200ms ease, -webkit-filter 200ms ease;
  transition: filter 200ms ease, box-shadow 200ms ease, border-color 200ms ease;
  transition: filter 200ms ease, box-shadow 200ms ease, border-color 200ms ease, -webkit-filter 200ms ease;
  font-weight: 900;
  text-align: center;
}

.website-type-radio-button:hover {
  border-color: #2aa8ff;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12), 0 0 10px 0 #2aa8ff;
  -webkit-filter: none;
  filter: none;
}

.website-type-radio-button.wix-logo {
  background-image: url('../images/BlackWixlogoAssets.png');
  background-size: 100px;
}

.website-type-radio-button.weebly-logo {
  background-image: url('../images/1280px-Weebly_logo.svg.png');
  background-size: 100px;
}

.website-type-radio-button.adobe-logo {
  background-image: url('../images/2000px-Adobe_Systems_logo_and_wordmark_2017.svg.png');
  background-size: 100px;
}

.website-type-radio-button.squarespace-logo {
  background-image: url('../images/squarespace-logo.png');
  background-size: 140px;
}

.website-type-radio-button.shopify-logo {
  background-image: url('../images/shopify-logo.png');
  background-size: 99px;
}

.website-type-radio-button.custom-code-website-type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
}

.website-type-radio-button.wordpress-logo {
  background-image: url('../images/2000px-WordPress_logo.svg.png');
  background-size: 100px;
}

.website-type-coming-soon {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  opacity: 0;
  color: #15bcbc;
  font-size: 16px;
}

.website-type-coming-soon:hover {
  opacity: 1;
}

.modal-scroll {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  padding: 50px 50px 100px;
}

.upgrade-header {
  margin-bottom: 10px;
  font-size: 35px;
  line-height: 1.2em;
  font-weight: 900;
}

.upgrade-text {
  margin-right: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  color: #000;
  font-size: 16px;
}

.price-duration {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 500;
}

.feature-text {
  display: inline-block;
  padding-left: 15px;
}

.feature-item.not-available {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.upgrade-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.plan-name {
  font-size: 24px;
  line-height: 1.4em;
}

.feature-wrapper {
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9dadc;
  font-size: 15px;
  line-height: 32px;
}

.price-text {
  margin-bottom: 15px;
  padding-left: 6px;
  color: #919496;
  font-size: 12px;
}

.button-2 {
  padding: 19px 40px 18px;
  border: 2px solid #ff6f50;
  border-radius: 100px;
  background-color: #ff6f50;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 2px;
}

.button-2:hover {
  border-color: #cf3b1b;
  background-color: #cf3b1b;
}

.button-2.pricing-button {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}

.button-2.pricing-button.free-price-button {
  background-color: transparent;
  color: #ff6f50;
}

.button-2.pricing-button.free-price-button:hover {
  background-color: #cf3b1b;
  color: #fff;
}

.price {
  padding-left: 6px;
  font-size: 32px;
  font-weight: 400;
}

.pricing-box {
  overflow: hidden;
  width: 48%;
  padding-bottom: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .1);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: none;
  -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease-out;
  transition: box-shadow 200ms ease, -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out, box-shadow 200ms ease;
  transition: transform 200ms ease-out, box-shadow 200ms ease, -webkit-transform 200ms ease-out;
}

.upgrade-accent {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 10px;
  background-color: #28d893;
}

.pricing-column-contain {
  padding-right: 10%;
  padding-left: 10%;
}

.pricing-column-contain.top-price-contain {
  padding-top: 17px;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, .03);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.pricing-column-contain.top-price-contain.green-price-contain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(40, 216, 147, .1);
  color: #1ab478;
}

.discount-label {
  margin-left: 10px;
  padding-top: 1px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: #28d893;
  color: #fff;
  font-size: 12px;
}

.ms-iframe {
  position: fixed;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 100000000000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.ms-iframe-embed {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 180px;
  height: 70px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.memberstackio {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

@media (max-width: 991px) {
  .modal-scroll {
    padding-top: 50px;
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media (max-width: 767px) {
  .upgrade-container {
    margin-bottom: 70px;
    padding-top: 50px;
    padding-right: 7%;
    padding-left: 7%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .overlay-header {
    height: 60px;
    padding-top: 25px;
  }
  .modal-scroll {
    overflow: auto;
  }
  .upgrade-header {
    font-size: 30px;
  }
  .upgrade-text {
    margin-bottom: 30px;
    font-size: 14px;
  }
  .upgrade-row {
    width: 100%;
  }
  .plan-name {
    font-size: 20px;
  }
  .price-text {
    font-size: 11px;
    line-height: 1.5em;
  }
  .price {
    font-size: 26px;
  }
  .pricing-box {
    width: 49%;
  }
  .pricing-column-contain.top-price-contain {
    padding: 12px 5% 11px;
    font-size: 13px;
  }
}

@media (max-width: 479px) {
  .upgrade-container {
    margin-bottom: 70px;
    padding-right: 5%;
    padding-bottom: 0px;
    padding-left: 5%;
  }
  .upgrade-text {
    margin-bottom: 25px;
  }
  .upgrade-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .button-2 {
    padding: 15px 30px 14px;
  }
  .pricing-box {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
}

