@import "../deps";


// head
.head-label-wrapper {
  background-color: $white;
  @include vpad(3px);
  @include for-tablet-portrait-up() {
    margin-top: 20px;
  }

  .head-label {
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    font-size: rem(16);
    @include for-tablet-portrait-up() {
      font-size: rem(20);
    }
    @include for-tablet-landscape-up() {
      font-size: rem(24);
    }
  }
}

// form
.login-form-wrapper {

  .login-preview-wrapper {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 30px;
    @include for-tablet-portrait-up() {
      margin-top: 40px;
    }
    @include for-tablet-landscape-up() {
      margin-top: 60px;
    }

    .login-preview {

    }

    .login-preview-label {
      margin: 20px 0 30px;
      font-weight: bold;
      font-size: rem(16);
      transform-style: preserve-3d;

      @include for-tablet-portrait-up() {
        font-size: rem(18);
        margin: 30px 0 40px;
      }
      @include for-tablet-landscape-up() {
        font-size: rem(20);
      }
    }
  }

  .form {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    .form-fields {

    }
    .form-btn-wrap {
      margin-top: 30px;
      perspective: 2000px;

      .btn {
        transform-style: preserve-3d;
      }
    }
  }
}
