//=======================
// Точки для media-queries
//=======================
$media-big-desktop: 1800px;
$media-desktop: 1200px;
$media-tablet-landscape: 900px;
$media-tablet-portrait: 600px;

//=======================
// Grid
//=======================
$grid-max-width: 1400px;
$grid-gutter-width: 30px;

//=======================
// Цвета
//=======================
$white: #fff;
$light-gray: #eeeeee;
$gray: #a0a0a0;
$black: #000;
$green: #58ad52;
$red: #E94444;

$text-color: $gray;
